modules = ["nodejs-20", "web"]
run = "npx http-server -p 8000 -a 0.0.0.0"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npx http-server -p 8000 -a 0.0.0.0"]
build = ["sh", "-c", "npm install"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 26597001
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server -p 8000 -a 0.0.0.0"

[[ports]]
localPort = 8000
externalPort = 80
